/* App.css */
html, body {
  height: 100%;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.router-wrapper {
  flex: 1;
}

footer {
  position: relative;
  width: 100%;
  bottom: 0;
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
}
