img {
    width: 700px;
  }

.imageCont{
    margin-top: 50px;
    text-align: center;
}

@media only screen and (max-width: 900px) {
    img {
        width: 400px;
    }
}

@media only screen and (max-width: 600px) {
    img {
        width: 300px;
    }
}