/* Base font size for the title */
.display-4 {
  font-size: 2.5rem; /* Default size */
}

/* Medium screens (tablets, 768px and up) */
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem; /* Slightly larger */
  }
}

/* Large screens (desktops, 1024px and up) */
@media (min-width: 1024px) {
  .display-4 {
    font-size: 3.5rem; /* Even larger */
  }
}

/* Extra-large screens (1200px and up) */
@media (min-width: 1200px) {
  .display-4 {
    font-size: 4rem; /* Full size */
  }
}

@media (min-width: 1025px) {
  .h-custom-2 {
    height: 100%;
  }
}

.login-image-container {
  height: 100vh; /* Set the desired height for the image container */
  overflow: hidden;
}

.login-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container without warping */
  object-position: center; /* Adjusts the position of the image within the container */
}

.h-custom-2 {
  height: calc(100% - 80px);
}

/* Adjust width of the content area */
.d-flex.flex-column.justify-content-center.h-custom-2 {
  width: 80%;
}
